@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.purple.50');
  --foreground: #171717;
}

.container {
  @apply mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8;
}

body {
  color: var(--foreground);
  background: var(--background);
}
